@media only screen and (min-width:1024px){
    *,
      *::before,
      *::after {
        box-sizing: border-box;
        /*default content-box model*/
      }
    
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        overflow-x: hidden;
      }
    
      /* Container holding the image and the text */
      .container {
        position: relative;
        text-align: center;
        color: white;
      }
    
      /* Bottom left text */
      .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
      }
    
      /* Top left text */
      .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
      }
    
      /* Top right text */
      .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
      }
    
      /* Bottom right text */
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }
    
      /* Centered text */
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      /*utilities*/
    
      .bordered {
        border: rgba(0, 0, 0, 0.1) solid 1px;
      }
    
      .flex {
        display: flex;
      }
    
      .center {
        justify-content: center;
      }
    
      .txt-center {
        text-align: center;
      }
    
      .txt-left {
        text-align: left;
      }
    
      /*percentage*/
      .s-40p {
        width: 40%;
      }
    
      .s-15p {
        width: 15%;
      }
    
      .s-35p {
        width: 35%;
      }
    
      .s-10p {
        width: 10%;
      }
    
      .s-75p {
        width: 75%;
      }
    
      .s-25p {
        width: 25%;
      }
    
      .s-20p {
        width: 20%;
      }
    
      .s-60p {
        width: 60%;
      }
    
      .s-70p {
        width: 70%;
      }
    
      .s-80p {
        width: 80%;
      }
    
      .s-90p {
        width: 90%;
      }
    
      /*margin*/
      .my-0 {
        margin: 0;
      }
    
      .myb-5 {
        margin-bottom: 5px;
      }
    
      .myb-10 {
        margin-bottom: 10px;
      }
    
      .myb-20 {
        margin-bottom: 20px;
      }
    
      .myt-20 {
        margin-top: 20px;
      }
    
      /*padding*/
      .pyt-50 {
        padding-top: 50px;
      }
    
      .pyl-40 {
        padding-left: 40px;
      }
    
      .pyl-5px {
        padding-left: 5px;
      }
    
      .pyl-10px {
        padding-left: 10px;
      }
    
      .pyl-15px {
        padding-left: 15px;
      }
    
      .pyl-20px {
        padding-left: 20px;
      }
    
      .pyr-20px {
        padding-right: 20px;
      }
    
      .pyr-40px {
        padding-right: 40px;
      }
    
      .pyr-10px {
        padding-right: 10px;
      }
    
      .py-0 {
        padding: 0;
      }
    
      .border-side {
        border-left: rgba(0, 0, 0, 0.1) solid 1px;
        border-right: rgba(0, 0, 0, 0.1) solid 1px;
      }
    
      .grey {
        color: rgba(0, 0, 0, 0.6);
      }
    
      #grey {
        color: rgba(0, 0, 0, 0.6);
      }
    
      .txt-sm {
        font-size: 10px;
      }
    
      .arial {
        font-family: Arial, Helvetica, sans-serif;
      }
    
      .italic {
        font-style: italic;
      }
    
      /*display*/
      .flex {
        display: flex;
      }
    
      .grid {
        display: grid;
      }
    
      .inline {
        display: inline;
      }
    
      /*Navbar*/
      .navbar .container {
        height: 40px;
        color: black;
      }
    
      .navbar ul {
        display: flex;
      }
    
      .navbar i {
        color: #1d9fdd;
      }
    
      .navbar a {
        padding: 0px;
        margin: 0px;
        text-decoration: none;
      }
    
      .navbar a:hover {
        border-bottom: 2px #f9d70b solid;
      }
    
      .navbar a:visited {
        color: black;
      }
    
      .navbar p {
        line-height: 20px;
      }
    
      .pyt-5 {
        padding-top: 5px;
      }
    
      /*banner*/
    
      .banner img {
        filter: brightness(0.6);
        height: 40vh;
      }
    
      /*info*/
      .info .target {
        background-color: #f5f5f5;
    
        flex: 1 0 50%;
        width: 50%;
      }
    
      .info .information {
        background-color: #f0f0f0;
    
        flex: 1 0 50%;
        width: 50%;
      }
    
      .info td {
        padding-right: 5px;
      }
    
      .target .grid {
        grid-template-columns: 415px;
        column-gap: 30px;
        row-gap: 45px;
        justify-content: end;
      }
    
      .information .icons {
        padding: 30px 0;
      }
    
      .information i {
        margin-right: 10px;
        color: #1d9fdd;
      }
    
      /*thông tin nghề nghiệp*/
      .career h4 {
        margin-bottom: 5px;
      }
    
      .exp .special {
        background-color: #017cff;
        color: #f0f0f0;
        padding: 2px 7px;
        border-radius: 4px;
      }
    
      .career i {
        font-size: 40px;
      }
    
      .career .grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 45px;
        justify-content: center;
        align-items: center;
      }
    
      .career .padding {
        /* padding: 40px 40px; */
      }
    
      .career h1 {
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
    
      .hobby .icons {
        justify-content: center;
        gap: 40px;
        margin: 50px 0;
        padding-left: 20px;
      }
    
      .hobby .special {
        font-size: 25px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: solid 4px #30d4a3;
        text-align: center;
        line-height: 50px;
        color: #969495;
      }
    
      .hobby .grey {
        font-size: 15px;
        text-align: center;
      }
    
      .language .special {
        background: #199cdb;
        display: inline-block;
        height: 4px;
        margin-right: 10px;
        width: 45px;
        border-radius: 3px;
      }
    
      .skill .special {
        background: #199cdb;
        display: inline-block;
        height: 4px;
        margin-right: 10px;
        width: 45px;
        border-radius: 3px;
      }
    
      .skill .grey {
        background: rgba(0, 0, 0, 0.3);
      }
    
      /*Chứng chỉ - Giải*/
      .degrees {
        background-color: #f7f7f7;
        padding: 40px 0;
      }
    
      .degrees .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 45px;
        justify-content: center;
        align-items: center;
      }
    
      .degrees img {
        width: 250px;
        height: auto;
      }
    
      .degrees h4 {
        margin: 5px 0 20px 0;
      }
    
      .PRF {
        border-left: solid 2px #d6c08d;
      }
    
      .oline {
        border-top: solid 2px #d6c08d;
        grid-column: 1 / span 2;
      }
    
      .degrees .title {
        grid-column: 1 / span 2;
        margin: 50px 0 30px 0;
      }
    
      /*dự án*/
      .plans {
        padding-bottom: 50px;
      }
    
      .plans .title {
        grid-column: 1 / span 3;
        margin: 50px 0 30px 0;
      }
    
    
      .plans .grid {
        grid-template-columns: 33% 33% 33%;
        /*không phải 33.3% 33.3% 33.3% vì thêm grid-column-gap nữa sẽ tràn ra ngoài trình duyệt, làm xuất hiện thanh cuộn ngang*/
        grid-column-gap: 0.25rem;
      }
    
      .plans .grid img {
        width: 100%;
        height: auto;
      }
    
      .plans .special {
        background-color: #199cdb;
        color: #f0f0f0;
        padding: 5px 20px;
        border-radius: 20px;
        margin: 17px 0 16px 0;
        height: 20px;
        line-height: 20px;
        font-size: 13px;
      }
    
      .fd {
        height: 60px;
        line-height: 60px;
      }
    
      .yfd i {
        font-size: 20px;
      }
    
      .plans img {
        width: 413px;
        height: auto;
      }
    
      .tq {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    
      .tech {
        width: 24%;
      }
    
      /*footer*/
      .contacts {
        padding: 4rem 0;
        background-color: #f7f7f7;
      }
    
      .contacts .flexContainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
        column-gap:2rem
      }

      .contacts .flex-item{
        display: flex;
        justify-content: center;
      }
    
      .contacts i {
        color: #1d9fdd;
        font-size: 30px;
      }
    
      .contacts .icons {}
    
      .contacts p {
        margin-top: 8px;
      }
}

